#chartForm{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    margin: auto;
    width: fit-content;
}



#chartContainer{
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    canvas{
        display: inline;
    }
}
