<p-messages class="fixed w-full"></p-messages>
<div class="h-full w-full flex justify-content-center align-content-center">
    <div class="m-auto w-full">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 m-auto">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">Changer de mot de passe</div>
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword();">

                <label for="password" class="block text-900 font-medium mb-2">Mot de passe</label>
                <input id="password" type="password" pInputText class="w-full mb-3" formControlName="password">

                <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirmer le mot de passe</label>
                <input id="confirmPassword" type="password" pInputText class="w-full mb-3"
                       formControlName="confirmPassword">

                <button pButton pRipple label="Envoyer" icon="pi pi-user" class="w-full"></button>

            </form>
        </div>
    </div>
</div>
